<!doctype html>

<html>
  
  <head>
    <title>Chat Sekjar</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="/static/bootstrap.min.css">
	<script type="text/javascript" src="/static/jquery.min.js"></script>
	<script type="text/javascript" src="/static/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/socket.io.min.js"></script>
	<script type="text/javascript" src="/static/aes-cbc-bbs.js"></script>
	<script type='text/javascript' src='/static/sha.js'></script>
	<script type='text/javascript' src='/static/bigint.js'></script>
	<script type="text/javascript" src="/static/jquery.storageapi.min.js"></script>
	<script type="text/javascript" src="/static/emojify.min.js"></script>
	<style>
		.pagination-centered {
		  text-align: center;
		}
	
	  	.bs-sidebar.affix {
	    	width: 450px;
	    	//padding-left: 20px;
	  	}
		
		.bs-callout {
		    margin: 20px 0;
		    padding: 20px;
		}

		.bs-callout-left {
		    border-left: 3px solid #eee;
		}

		.bs-callout-right {
		    border-right: 3px solid #eee;
		}

		.bs-callout h4 {
		    margin-top: 0;
		    margin-bottom: 5px;
		}

		.bs-callout p:last-child {
		    margin-bottom: 0;
		}

		.bs-callout code {
		    background-color: #fff;
		    border-radius: 3px;
		}

		.bs-callout-danger {
		    background-color: #fdf7f7;
		    border-color: #d9534f;
		}

		.bs-callout-danger h4 {
		    color: #d9534f;
		}

		.bs-callout-warning {
		    background-color: #fcf8f2;
		    border-color: #f0ad4e;
		}

		.bs-callout-warning h4 {
		    color: #f0ad4e;
		}

		.bs-callout-info {
		    background-color: #f4f8fa;
		    border-color: #5bc0de;
		}

		.bs-callout-info h4 {
		    color: #5bc0de;
		}
	</style>
  </head>
  
  <body>
    <div class="container">
      <div class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand"><strong>A</strong>man<strong>K</strong>ata - as <span id="tag_user_id"></span></a>
          </div>
        </div>
      </div>

      <div class="row-fluid" id="gambar_loading">
		<div class="span12 pagination-centered">
			Loading...
			<br/>
			<img src="/static/ajax-loader.gif"/>
		</div>
	  </div>

      <div class="row" id="main_chat">
        <div class="col-md-12">
          <!-- Nav tabs -->
          <ul id="group_header" class="nav nav-tabs">
            <li class="active">
              <a class="group_header_a" data-id="home" href="#home" data-toggle="tab">Dashboard</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div id="group_content" class="tab-content">

            <div class="tab-pane active" id="home">
              <br>
              If you want to create a new chat session, click this button<br><br>
              <a id="create_new_group" class="btn btn-primary">Create a new Chat Session</a><br>
              <br><br>
            </div>

          </div>

          <div id="chat_bar">
			<p>Send your message here.</p>
			<textarea class="form-control" id="chat_message" rows="3"  style="width: 75%"></textarea>
			<br/>
			<button id="send" class="btn btn-primary">Send</button>
		  </div>

          <br>
          <a href="/" id="logout">Do Logout, remove my credentials from HTML5 Storage</a>
        </div>
      </div>
    </div>

    <div class="modal fade" id="create_group_modal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title">Create New Group</h4>
	      </div>
	      <div class="modal-body">
	      	  <div class="well">
	            <input type="text" id="text_user" class="form-control" placeholder="Add new user ID">
	            <br>
	             <a id="add_user_id" class="btn btn-primary btn-xs">Add User ID</a>
	             <br><br>
	            <ul class="list-group" id="list_user_id">
	            </ul>
	            <br>
	            <button id="start_group_chat" class="btn btn-success">Start Group Chat</button>
	          </div>
	      </div>
	      <div class="modal-footer">
	        <!-- <button type="button" class="btn btn-primary">Start Chat</button> -->
	        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<audio id="chatAudio">
		<source src="static/notify.ogg" type="audio/ogg">
		<source src="static/notify.mp3" type="audio/mpeg">
		<source src="static/notify.wav" type="audio/wav">
	</audio>

  </body>

</html>

<script type="text/javascript">
	var eVeriNice = str2bigInt('10001', 16, 1);
    var nVeriNice = str2bigInt('5E89E95A0DD227CE91F0549A0ECDBAA33676FF252077F5317DAE5B3EA2E16B82D1F30497C9A74CF5F646C1A75C163B5C9D6C88D4BB8732BAF537190D943808A656F2FFD3D46DC0C22F31AD98B2F29910F8DA223ED9C317866CAF2790BEEF0AB4B702CD1B302A567053A5CDBF29E5E4276AEE29B5AC41E1FE54EEC89040C8B213', 16, 1);

	var verifySign = function(str, sign, fn) {
	    var shaObj = new jsSHA(str, 'TEXT');
	    var hash = str2bigInt(shaObj.getHash('SHA-512', 'HEX').toUpperCase(), 16, 1);
	    var verify = powMod(str2bigInt(sign, 16, 1), eVeriNice, nVeriNice);
	    fn(equals(hash, verify));
	};

	var reorderCertificate = function(certificate) {
		new_certificate = {};
		new_certificate['user_id'] = certificate.user_id;
		new_certificate['public_RSA'] = {};
		new_certificate['public_RSA']['e'] = certificate.public_RSA.e;
		new_certificate['public_RSA']['n'] = certificate.public_RSA.n;
		new_certificate['public_DHE'] = {};
		new_certificate['public_DHE']['y'] = certificate.public_DHE.y;
		new_certificate['public_DHE']['q'] = certificate.public_DHE.q;
		return new_certificate;
	}
  $(document).ready(function() {
  	
  	$('#main_chat').hide();
  	$('#chat_bar').hide();

  	var current_group_id, groups, data_storage, user_id, password, certificates, private_rsa, private_dhe, y, z, g, x, q, n;
  	var socket = io.connect('http://' + document.domain + ':' + location.port);
  	groups = {};
  	certificates = {};

  	if ($.localStorage.isEmpty('AmanKataCert')) {
  		window.location.href = "/";
  	} else {
  		data_storage = $.localStorage.get('AmanKataCert');
  		user_id = data_storage['user_id'];
  		//password = data_storage['password'];
  		private_rsa = data_storage['private_rsa'];
  		private_dhe = data_storage['private_dhe'];
  		g = str2bigInt(private_dhe.g, 16, 1);
  		x = str2bigInt(private_dhe.x, 16, 1);
  		q = str2bigInt(private_dhe.q, 16, 1);
  		d = str2bigInt(private_rsa.d, 16, 1);
  		n = str2bigInt(private_rsa.n, 16, 1);
  		y = powMod(g, x, q);
  		z = powMod(y, d, n);
  		z = bigInt2str(z, 16);
  		console.log(bigInt2str(y,16));
  		console.log(z);

  		socket.emit('doLogin', {'user_id': user_id, 'z': z}, function(result) {
	        if (result) {
	        	//chat dimulai.
	        	$('#tag_user_id').text(user_id);
	        	socket.emit('requestGroupSession', function(result_group) {
	        		$.each(result_group, function(i, data_group) {
	        			updateGroup(data_group);
	        		});
	        		$('.group_header_a').click(function() {
				  		current_group_id = $(this).data('id');
				  		if (current_group_id == 'home') {
				  			$('#chat_bar').hide();
				  		} else {
				  			$('#'+current_group_id+'_sign').hide();
				  			$('#chat_bar').show();
				  		}
				  	});
	        		$('#gambar_loading').fadeOut(500, function() {
						$('#main_chat').fadeIn(500);
					});
	        	});

	        } else {
	        	$.localStorage.removeAll();
	        	alert('Error!');
	        	window.location.href = "/";
	        }
		});
  	}

  	socket.on('retrieveChatClient', function(obj) {
  		var x = str2bigInt(private_dhe.x, 16, 1);
  		var y = str2bigInt(certificates[obj.from].certificate.public_DHE.y, 16, 1);
  		var q = str2bigInt(certificates[obj.from].certificate.public_DHE.q, 16, 1);
		var k = bigInt2str(powMod(y, x, q), 16);
		var key = [];
		for (; k.length < 32; k = k + '0');
		for (var i = 0; i < 16; i++)
			key[i] = 0;
		for (var i = 0; i < 32; i++)
			key[i >> 1] = (key[i >> 1] << 4) | parseInt(k[i], 16);
		obj.the_message = getPlain(obj.the_message, obj.seed, key);

  		var e = str2bigInt(certificates[obj.from].certificate.public_RSA.e, 16, 1);
  		var n = str2bigInt(certificates[obj.from].certificate.public_RSA.n, 16, 1);
        var shaObj = new jsSHA(obj.the_message + obj.salt, 'TEXT');
        var hash = str2bigInt(shaObj.getHash('SHA-512', 'HEX').toUpperCase(), 16, 1);
        var verify = powMod(str2bigInt(obj.sign, 16, 1), e, n);
        
	    if (!equals(hash, verify)) {
	    	alert('invalid message');
	    	return;
    	}

  		var $elem = $('#' + obj.group_id + '_group_message');
		$elem.append('<div class="bs-callout bs-callout-left bs-callout-warning"> <h4> ' + obj.from + '</h4><p>' + obj.the_message + '</p></div>');
		if (current_group_id != obj.group_id) {
			$('#' + obj.group_id + '_sign').show();
		}
		$('html, body').animate({scrollTop: $elem.height()}, 800);
		$('#chatAudio')[0].play();

		emojify.setConfig({
		    emojify_tag_type : 'div',
		    only_crawl_id    : null,
		    img_dir          : '/static/images/emoji',
		    ignored_tags     : {
		        'SCRIPT'  : 1,
		        'TEXTAREA': 1,
		        'A'       : 1,
		        'PRE'     : 1,
		        'CODE'    : 1
		    }
		});
		emojify.run();

	});

	socket.on('newGroupClient', function(data_group) {
		updateGroup(data_group);
		$('.group_header_a').click(function() {
	  		current_group_id = $(this).data('id');
	  		if (current_group_id == 'home') {
	  			$('#chat_bar').hide();
	  		} else {
	  			$('#'+current_group_id+'_sign').hide();
	  			$('#chat_bar').show();
	  		}
	  	});
	});

	function updateGroup(data_group) {
		var data = data_group.group_id;
		groups[data] = data_group;
		$('#group_header').append('<li><a class="group_header_a" data-id="'+data+'" href="#'+data+'" data-toggle="tab">#'+data+'<span class="glyphicon glyphicon-exclamation-sign" id="'+data+'_sign"></span></a></li>');
		$('#group_content').append('<div class="tab-pane" id="'+data+'"><div class="row"><div class="col-md-9" id="'+data+'_group_message"></div><div class="col-md-3"><br><b>Group Member:</b><br><ul class="list-group" id="'+data+'_group_member"></ul></div></div></div>');
		$('#'+data+'_sign').hide();
		$('#'+data+'_group_member').append('<li class="list-group-item">'+data_group.group_host_user_id+'</li>');
		$.each(data_group.group_guest_user_id, function(key, value) {
			$('#'+data+'_group_member').append('<li class="list-group-item">'+value.user_id+'</li>');
			if (!(value.user_id in certificates)) {
				value.user_certificate.certificate = reorderCertificate(value.user_certificate.certificate);
				verifySign(JSON.stringify(value.user_certificate.certificate), value.user_certificate.sign, function(valid) {
					if (valid)
						certificates[value.user_id] = value.user_certificate;
					else
						alert("Certificate from server not valid");
				} );
			}
		});
		if (!(data_group.group_host_user_id in certificates)) {
			data_group.group_host_user_certificate.certificate = reorderCertificate(data_group.group_host_user_certificate.certificate);
			verifySign(JSON.stringify(data_group.group_host_user_certificate.certificate), data_group.group_host_user_certificate.sign, function(valid) {
					if (valid)
						certificates[data_group.group_host_user_id] = data_group.group_host_user_certificate;
					else
						alert("Certificate from server not valid");
			});
		}
	}
	
  	function sendChat(obj) {
  		var now = new Date();
  		obj.salt = now.toString();
  		obj.seed = now.getTime();

  		var d = str2bigInt(private_rsa.d, 16, 1);
  		var n = str2bigInt(private_rsa.n, 16, 1);
        var shaObj = new jsSHA(obj.the_message + obj.salt, 'TEXT');
        var hash = shaObj.getHash('SHA-512', 'HEX').toUpperCase();
        obj.sign = bigInt2str(powMod(str2bigInt(hash, 16, 1), d, n), 16);

  		var x = str2bigInt(private_dhe.x, 16, 1);
  		var y = str2bigInt(certificates[obj.to].certificate.public_DHE.y, 16, 1);
  		var q = str2bigInt(certificates[obj.to].certificate.public_DHE.q, 16, 1);
		var k = bigInt2str(powMod(y, x, q), 16);
		var key = [];
		for (; k.length < 32; k = k + '0');
		for (var i = 0; i < 16; i++)
			key[i] = 0;
		for (var i = 0; i < 32; i++)
			key[i >> 1] = (key[i >> 1] << 4) | parseInt(k[i], 16);
		obj.the_message = getCipher(obj.the_message, obj.seed, key);

  		socket.emit('sendChat', obj);
  	}

  	function updateChat() {
  		var chat_message = $('#chat_message').val().replace(/[\r\n\t]/g, '');
  		if (!chat_message) return;
  		$('#'+current_group_id+'_group_message').append('<div class="bs-callout bs-callout-right bs-callout-info text-right"><h4>you</h4><p>'+chat_message+'</p></div>');
  		
  		if (user_id != groups[current_group_id]['group_host_user_id']) {
  			sendChat({'to':groups[current_group_id]['group_host_user_id'], 'from': user_id, 'group_id': current_group_id, 'the_message': chat_message});
  		}
  		$.each(groups[current_group_id]['group_guest_user_id'], function(i, data_group) {
			if (user_id != data_group.user_id) {
				sendChat({'to':data_group.user_id, 'from': user_id, 'group_id': current_group_id, 'the_message': chat_message});
			}
		});
  		var $elem = $('#'+current_group_id+'_group_message');
		$('#chat_message').val('');
		$('html, body').animate({scrollTop: $elem.height()}, 800);
		$('#chat_message').focus();

		emojify.setConfig({
		    emojify_tag_type : 'div',
		    only_crawl_id    : null,
		    img_dir          : '/static/images/emoji',
		    ignored_tags     : {
		        'SCRIPT'  : 1,
		        'TEXTAREA': 1,
		        'A'       : 1,
		        'PRE'     : 1,
		        'CODE'    : 1
		    }
		});
		emojify.run();
  	}

  	$('#send').click(function() {
  		updateChat();
  	});

	$('#chat_message').keyup(function(event) {
		if ( event.which == 13 ) {
			updateChat();
		}
	});

  	$('#create_new_group').click(function() {
  		$( "#list_user_id li" ).each(function() {
			$( this ).remove();
		});
  		$('#create_group_modal').modal('show');
  	});

  	$('#add_user_id').click(function() {
  		var text_user = $('#text_user').val();
  		if (!text_user) return;
  		$('#text_user').val('');
  		$('#list_user_id').append('<li class="list-group-item">'+text_user+'</li>');
  	});

  	$('#start_group_chat').click(function() {
  		var size = $("#list_user_id li").length;
  		if (size < 1) {
  			alert("Chat Minimal 2 User");
  			return;
  		}
  		var data_group = {
  			'group_host_user_id' : user_id,
  			'group_guest_user_id' : []
  		};
  		$( "#list_user_id li" ).each(function() {
  			data_group['group_guest_user_id'].push($( this ).text());
		});
		socket.emit("newGroup", data_group, function(result) {
			if (result) {
				alert("Group Created");
				window.location.href = "/chat";
			} else {
				alert("Group Failed to Create");
			}
			$('#create_group_modal').modal('hide');
		});
  	});

  	$('#logout').click(function() {
  		$.localStorage.removeAll();
  	});

  });
</script>