<!doctype html>

<html>
  
  <head>
    <title>Chat Sekjar</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  </head>
  
  <body>
    <div class="container">
      <div class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand"><strong>A</strong>man<strong>K</strong>ata</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h1>AmanKata <small>Securely Encrypted Chat Framework</small></h1>
          <p>Welcome to AmanKata, the greatest anonymous two-party chat framework that can make your conversation between your friend, secret service, and drug dealer become very safe and secure.</p>
        </div>
        <div class="col-md-4 well">
	  <form class="form" action="/chat" method="POST" >
          <h2>Join Now</h2>
          <p>Enter your secret name here. Be sure that your party know this name exactly so you both can exchange any message together.</p>
          <input type="text" name="your_username" class="form-control" placeholder="Your ID">
          <p>Enter your partner user id</p>
          <input type="text" name="partner_username" class="form-control" placeholder="Your Partnet ID">
          <p><i>Your id must only alphanumeric without space.</i></p>
          <button type"submit" class="btn btn-primary">Join</button>
	  <p>Upon connected to session chat, you just need to wait your party to be connected. Be sure that your party know your user id</p>
	  </form>        
	</div>
      </div>
    </div>
  </body>

</html>
