<!doctype html>

<html>
  
  <head>
    <title>Login AmanKata</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/jquery.storageapi.min.js"></script>
  </head>
  
  <body>
    <div class="container">
      <div class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><strong>A</strong>man<strong>K</strong>ata</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h1>AmanKata <small>Securely Encrypted Chat Framework</small></h1>
          <p>Welcome to AmanKata, the greatest anonymous group chat framework that can make your conversation between your friend, secret service, and drug dealer become very safe and secure.</p>
        </div>
        <div class="col-md-4 well">
          <h2>Login Now</h2>
          <p>Enter your user id, password and pass your secret private key here.</p>
          <input type="text" id="user_id" class="form-control" placeholder="User ID" value="haidar">
          <br/>
          <textarea class="form-control" id="private_key_rsa_d" placeholder="Your Private RSA Key D">509843A1863D0A780274AB91475C41F4EFAC1B65AB90F84569AFE0F4F00FE222F91C88B57379832778C392C8581423D7D6FB9E0A9CAEDE0F7E47C6963B7C0022BA8566C040FAC2DF942A003339BE7C53DB547AA01E37677B6B09BB63B6DC356142F0807C880D68AF0263374841AB6870C7AC6E8C19B17310D82CE536B14EDB99</textarea>
          <br/>
          <textarea class="form-control" id="private_key_rsa_n" placeholder="Your Private RSA Key N">9B6DCC3AFBDA7D7728C463DFDED5E079A0BE47F48AB0CD6EC28FC49D54A05A4C939DCFAAC18500C4ACF45F75B65FD6254010CAA8C75E82631059599B729A9F88C16124556741535AF7465F233520302990395DC4E9E82A2E08368D5E849C16774522833671D41CA8C4C4AE5238213E40FAF4C878BBAD2B2C49D00BE9D24ABCA7</textarea>
          <br/>
          <textarea class="form-control" id="private_key_dhe_x" placeholder="Your Private DHE Key X">CC0DAE2D5798B11DD10A1251FBA166DBB22D9C3674F5553C48C462510D380AB39C2737CE2C5CCE4BE63543A7F35725388A2E6257F49D5BECA1676D14884C2F53</textarea>
          <br/>
          <textarea class="form-control" id="private_key_dhe_g" placeholder="Your Private DHE Key G">7FFFFFFF</textarea>
          <br/>
          <textarea class="form-control" id="private_key_dhe_q" placeholder="Your Private DHE Key Q">B037D2867723DC4F0352C2DD3AE53EF685EE197BB8BD63E11FDD32BC33FCA596B6DDCBA89B43EB09CBE1CC0F01E030A735E48FC7B166F99B8CEA2F5320806CB568826319DE68F0A8FE9EC2AEF892A2666197573EC11D794A062D9B11EA4BFD2834CFB4312299E0EE29B2CC81D0666DE5C635B730318F3FB2DF789034BC3DD063</textarea>
          <br/>
          <button id="login" type"button" class="btn btn-primary">Login</button>
         <p>If you don't have any credentials, <a href="/register">Please register</a> for just an half minute.</p>
      	</div>
      </div>
    </div>
  </body>

</html>

<script type="text/javascript">
  $(document).ready(function() {

    if (!$.localStorage.isEmpty('AmanKataCert')) {
      window.location.href = "/chat";
    }
    
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    $('#login').click(function() {
      var user_id = $('#user_id').val();
      //var password = $('#password').val();
      var private_rsa = {
        'd': $('#private_key_rsa_d').val(),
        'n': $('#private_key_rsa_n').val()
      };
      var private_dhe = {
        'x' : $('#private_key_dhe_x').val(),
        'g' : $('#private_key_dhe_g').val(),
        'q' : $('#private_key_dhe_q').val()
      };
      // hash password disini !!!
      data_storage = {
        'user_id': user_id,
        //'password': password,
        'private_rsa': private_rsa,
        'private_dhe': private_dhe
      };
      //simpan ke storage & redirect ke chat.
      $.localStorage.set('AmanKataCert', data_storage);
      window.location.href = "/chat";
    });

  });
</script>