<!doctype html>

<html>
  
  <head>
    <title>Login AmanKata</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/jquery.storageapi.min.js"></script>
  </head>
  
  <body>
    <div class="container">
      <div class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><strong>A</strong>man<strong>K</strong>ata</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h1>AmanKata <small>Securely Encrypted Chat Framework</small></h1>
          <p>Welcome to AmanKata, the greatest anonymous group chat framework that can make your conversation between your friend, secret service, and drug dealer become very safe and secure.</p>
        </div>
        <div class="col-md-4 well">
          <h2>Login Now</h2>
          <p>Enter your user id and pass your secret private key here.</p>
          <input type="text" id="user_id" class="form-control" placeholder="User ID" value="">
          <br/>
          <div id="oldField" style="display: none">
            <textarea class="form-control" id="private_key_rsa_d" placeholder="Your Private RSA Key D"></textarea>
            <br/>
            <textarea class="form-control" id="private_key_rsa_n" placeholder="Your Private RSA Key N"></textarea>
            <br/>
            <textarea class="form-control" id="private_key_dhe_x" placeholder="Your Private DHE Key X"></textarea>
            <br/>
            <textarea class="form-control" id="private_key_dhe_g" placeholder="Your Private DHE Key G"></textarea>
            <br/>
            <textarea class="form-control" id="private_key_dhe_q" placeholder="Your Private DHE Key Q"></textarea>
            <br/>
          </div>
          <input type="file" id="files" name="files" />
          <br/>
          <button id="login" type"button" class="btn btn-primary">Login</button>
         <p>If you don't have any credentials, <a href="/register">Please register</a> for just an half minute.</p>
      	</div>
      </div>
    </div>
  </body>

</html>

<script type="text/javascript">
  $(document).ready(function() {

    if (!$.localStorage.isEmpty('AmanKataCert')) {
      window.location.href = "/chat";
    }
    
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    var fr;

    function receivedText() {
      var text = fr.result;
      var lines = text.split("\r\n");
      if (lines.length != 6) {
        alert("Format File Salah!");
        return;
      }
      for (var i = 0 ; i < lines.length ; i++) {
        if (i == 0) {
          $('#private_key_rsa_d').val(lines[i]);
        } else if (i == 1) {
          $('#private_key_rsa_n').val(lines[i]);
        } else if (i == 2) {
          $('#private_key_dhe_x').val(lines[i]);
        } else if (i == 3) {
          $('#private_key_dhe_g').val(lines[i]);
        } else if (i == 4) {
          $('#private_key_dhe_q').val(lines[i]);
        }
      }

      var user_id = $('#user_id').val();
      //var password = $('#password').val();
      
      if (!user_id) {
        alert("User ID Harus Diisi");
        return;
      }

      var private_rsa = {
        'd': $('#private_key_rsa_d').val(),
        'n': $('#private_key_rsa_n').val()
      };
      var private_dhe = {
        'x' : $('#private_key_dhe_x').val(),
        'g' : $('#private_key_dhe_g').val(),
        'q' : $('#private_key_dhe_q').val()
      };
      
      data_storage = {
        'user_id': user_id,
        //'password': password,
        'private_rsa': private_rsa,
        'private_dhe': private_dhe
      };
      //simpan ke storage & redirect ke chat.
      $.localStorage.set('AmanKataCert', data_storage);
      window.location.href = "/chat";
    }

    $('#login').click(function() {
      if (window.File && window.FileReader && window.FileList && window.Blob) {
        var input = document.getElementById('files');
        if (!input) {
          alert("Um, couldn't find the fileinput element.");
          return;
        }
        else if (!input.files) {
          alert("This browser doesn't seem to support the `files` property of file inputs.");
          return;
        }
        else if (!input.files[0]) {
          alert("Please select a file before Login");
          return;
        }
        else {
          var file = input.files[0];
          fr = new FileReader();
          fr.onload = receivedText;
          fr.readAsText(file);
        }
      } else {
        alert('The File APIs are not fully supported in this browser.');
        return;
      }
    });

  });
</script>